</body>

</div>
</main>
<footer>
	<div>
		<strong>© Amonic Airlines</strong> <span class="footerlinks"><span class="line hidemobile">|</span> <a href="https://vivaldi.com/privacy/" target="_blank">Privacy Policy</a> <span class="line">|</span> <a href="https://www.boilerplate.co/terms-of-service">Terms of Service</a> <span class="line">|</span> <strong><a href="https://www.boilerplate.co/about-us" target="_blank">About</a> <span class="line hidemobile">|</span></span>
		<span class="language-picker">
			<label for="choose-lang">Language:</label>
			<select name="language" id="choose-lang" onchange="location = this.options[this.selectedIndex].value;" title="Select language">
				  <option value="?lang=en" data-code="en">English</option>
				  <option value="?lang=ru" data-code="ru">Русский</option>
			</select>
		</span>
	</div>
</footer>
</div>
</div>
</html>