{{ template "header.html" }}
<title>Main Menu</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="container">
    <h1>123</h1>
    <h2>hi from index.html</h2>
</div>
<br />

<link rel="stylesheet" type="text/css" href="/api/server/css/styles.css">

<div id="app">
    <button type="button" class="btn" @click="showModal">
      Open Modal!
    </button>
  
    <modal v-show="isModalVisible" @close="closeModal" />
  </div>
  
  <script type="text/x-template" id="modal">
  
    <transition name="modal-fade">
      <div class="modal-backdrop" role="dialog">
        <div class="modal" ref="modal">
          <header class="modal-header">
            <slot name="header">
              <h2>
                This is the default tile!
              </h2>
  
              <button type="button" class="btn-close btn-right" @click="close" aria-label="Close modal">
                x
              </button>
            </slot>
          </header>
  
          <section class="modal-body">
            <slot name="body">
              I'm the default body!
            </slot>
          </section>
  
          <footer class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-green" @click="close" aria-label="Close modal">
                Close me!
              </button>
            </slot>
          </footer>
        </div>
      </div>
    </transition>
  </script>

  <script>
    const Modal = {
        name: 'modal',
        template: '#modal',
        methods: {
          close(event) {
            this.$emit('close');
          },
        },
      };
      
      const app = Vue.createApp({
        name: 'app',
        data () {
          return {
            isModalVisible: false,
          };
        },
        methods: {
          showModal() {
            this.isModalVisible = true;
          },
          closeModal() {
            this.isModalVisible = false;
          }
        },
      });
        app.component('modal', Modal);
        app.mount('#app');
    </script>

<!-- Link that takes you to /login -->
<a href="/api/server/login">Login</a><br />

<!-- Link that takes you to /register -->
<a href="/api/server/register">Register</a><br />

<!-- Link that takes you to /ping -->
<a href="/api/server/ping">Ping</a><br />

<a href="https://vitejs.dev/" target="_blank" rel="noopener">Vite</a> +

{{ template "footer.html" }}