{{ template "header.html" }}
<title>Main Menu</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="container">
    <h1>123</h1>
    <h2>hi from index.html</h2>
</div>
<br />



<link rel="stylesheet" type="text/css" href="/api/server/css/styles.css">

<!-- Link that takes you to /login -->
<a href="/api/server/login">Login</a><br />

<!-- Link that takes you to /register -->
<a href="/api/server/register">Register</a><br />

<!-- Link that takes you to /ping -->
<a href="/api/server/ping">Ping</a><br />

<a href="https://vitejs.dev/" target="_blank" rel="noopener">Vite</a> +

{{ template "footer.html" }}