{{ template "header.html" }}
<title>Amonic Login</title>

<div class="formheader large">
  <div>
    <img src="img/logo_with_colors.png" alt="amonic">
    <h1>Log in to your account</h1>
  </div>
</div>

<form action="/api/server/login" method="post">
  {{if .content}}
  <div class="error-msg">
    {{.content}}
  </div>
  {{end}}

  <div class="field">
    <label class="label">Email address</label>
    <div class="control">
      <input class="input" type="email" placeholder="Enter email" name="email" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Enter password" name="password" required>
    </div>
  </div>

  <div class="field">
    <button class="button">Login</button>
  </div>

  <p>
    Don't have an account? <a href="/api/server/register">Sign up</a>
  </p>
</form>

{{ template "footer.html" }}

